<div class="page-layout blank p-24" fusePerfectScrollbar>
    <div fxLayout="column" fxLayoutAlign="start center" *ngIf="connection == false && id">
        <p>Please scan this QR code to transfer data</p>
        <qr-code [value]="id" [size]="300"></qr-code>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" *ngIf="connection == true">
        <ngx-datatable class="material" [rows]="records" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable" [limit]="20">

            <ngx-datatable-column name="Date">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <span>{{row.createdAt | amDateFormat:'DD - MMMM - YYYY'}}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Title">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <span>{{row.title}}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Description">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <span>{{row.description}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Factor">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <span *ngFor="let factor of row.RecordFactors" class="h4 p-4 m-4" [ngClass]="factor.class">{{factor.Factor.name}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Medicine">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <p *ngFor="let medicine of row.RecordMedicines" class="h4 p-4 m-4" [ngClass]="medicine.class">{{medicine.Medicine.name}}</p>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
